<div class="p-2">
  <h2>How to compose forms with internal custom components and communicate between them</h2>
  <p>
    What does communication mean? It means that the internal form is "open" to validations and that the parent form decides
    whether and which validations to pass. This way, the internal form can be reused in different contexts.
    But is it possible?
  </p>
  <p>
    Partially yes, for basic things like <code>required</code>, but it doesn't seem entirely straightforward (how to pass custom validations? and does it make sense?).
  </p>

  <div class="flex-row p-2">
    <div [formGroup]="form" class="flex-column flex-1">
      <app-address-communicating class="flex-column" formControlName="address"></app-address-communicating>
      <div class="flex-column">
        <mat-form-field>
          <mat-label for="nickname">Username</mat-label>
          <input name="username" formControlName="username" type="text" matInput />
        </mat-form-field>
      </div>
      <div class="example-button-row">
        <button mat-button (click)="form.reset()">Reset</button>
        <button mat-button mat-flat-button [disabled]="form.invalid">Save</button>
      </div>
      @if (form.dirty && form.invalid) {
        <div class="flex-column" role="alert">
            <mat-error>
              Attention! The form contains the following errors:
              <ol>
                @for (item of errorMessages(); track item) {
                  <li>{{item}}</li>
                }
              </ol>
            </mat-error>
          </div>
        }
    </div>
    <div class="flex-1 p-h-2">
      <p>The value of the form:</p>
      <pre class="flex-1 m-0">
        <code [highlight]="form.value | json" language="typescript" lineNumbers [singleLine]="true"></code>
      </pre>
    </div>
  </div>

  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="HTML">
      <pre class="m-0">
        <code [highlight]="htmlCode" language="xml" lineNumbers [singleLine]="true"></code>
      </pre>
    </mat-tab>
    <mat-tab label="TS">
      <pre class="m-0">
        <code [highlight]="tsCode" language="typescript" lineNumbers [singleLine]="true"></code>
      </pre>
    </mat-tab>
    <mat-tab label="address.component.ts">
      <pre class="m-0">
        <code [highlight]="addressComponentCode" language="typescript" lineNumbers [singleLine]="true"></code>
      </pre>
    </mat-tab>
    <mat-tab label="communicating TS">
      <pre class="m-0">
        <code [highlight]="tsAdvancedCode" language="typescript" lineNumbers [singleLine]="true"></code>
      </pre>
    </mat-tab>
  </mat-tab-group>
</div>
