<div class="p-2">
  <h2>Use nonNullable types and correctly manage form reset</h2>
  <p>
    The following form initializes synchronously with values and sets controls as NON-NULLABLE.
  </p>
  <p>
    Care must be taken in managing the controls of a form and ensuring they are always nullable, in case of a reset, unless the fields are truly NON-NULLABLE.
  </p>

  <div class="flex-row p-2">
    <div [formGroup]="form" class="flex-column flex-1">
      <mat-form-field>
        <mat-label for="title">Title</mat-label>
        <input type="text" name="title" matInput formControlName="title" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          @for (option of titles; track option) {
            <mat-option [value]="option">{{option}}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      <div class="flex-column">
        <mat-form-field>
          <mat-label for="firstName">First Name</mat-label>
          <input name="firstName" formControlName="firstName" type="text" matInput/>
        </mat-form-field>
      </div>
      <div class="flex-column">
        <mat-form-field>
          <mat-label for="lastName">Last Name</mat-label>
          <input name="lastName" formControlName="lastName" type="text" matInput/>
        </mat-form-field>
      </div>
      <div class="flex-column">
        <mat-form-field>
          <mat-label for="nickname">Nickname</mat-label>
          <input name="nickname" formControlName="nickname" type="text" matInput/>
        </mat-form-field>
      </div>
      <div class="example-button-row">
        <button mat-button (click)="form.reset()">Reset</button>
      </div>
    </div>
    <div class="flex-1 p-h-2">
      <p>The value of the form:</p>
      <pre class="flex-1 m-0">
        <code [highlight]="form.value | json" language="typescript" lineNumbers [singleLine]="true"></code>
      </pre>
    </div>
  </div>

  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="HTML">
      <pre class="m-0">
        <code [highlight]="htmlCode" language="xml" lineNumbers [singleLine]="true"></code>
      </pre>
    </mat-tab>
    <mat-tab label="TS">
      <pre class="m-0">
        <code [highlight]="tsCode" language="typescript" lineNumbers [singleLine]="true"></code>
      </pre>
    </mat-tab>
  </mat-tab-group>
</div>
