<div class="p-2">
  <h2>Form with custom components</h2>
  <p>
    In the following example, you can see how it is possible to insert a custom component within
    a reactive form.
  </p>
  <p>
    It is sufficient for the component to inject the <code>NG_VALUE_ACCESSOR</code> provider and extend the <code>ControlValueAccessor</code> interface.
    This interface allows you to connect the functions that the reactive form engine uses to manage values
    with the specific management of the custom component.
  </p>

  <div class="flex-row p-2">
    <div [formGroup]="form" class="flex-column flex-1">
      <mat-label for="title">Lesson Title</mat-label>
      <app-property-selector name="title" formControlName="title"
        [propertyNameOrId]="'lessons'" [placeholder]="'choose a lesson'" [multiple]="false">
      </app-property-selector>
      <div class="flex-column">
        <div>
          <mat-label for="completed">Course completed</mat-label>
          <mat-checkbox name="completed" formControlName="completed"></mat-checkbox>
        </div>
      </div>
      <mat-label>Period</mat-label>
      <div class="flex-row" formGroupName="period">
        <mat-form-field class="flex-1">
          <mat-label for="fromDate">From Date</mat-label>
          <input name="fromDate" formControlName="fromDate" [matDatepicker]="pickerFD" matInput/>
          <mat-datepicker-toggle matIconSuffix [for]="pickerFD"></mat-datepicker-toggle>
          <mat-datepicker #pickerFD></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="flex-1 m-l-1">
          <mat-label for="toDate">To Date</mat-label>
          <input name="toDate" formControlName="toDate" [matDatepicker]="pickerTD" matInput/>
          <mat-datepicker-toggle matIconSuffix [for]="pickerTD"></mat-datepicker-toggle>
          <mat-datepicker #pickerTD></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="flex-column">
        <mat-form-field>
          <mat-label for="nickname">Nickname</mat-label>
          <input name="nickname" formControlName="nickname" type="text" matInput/>
        </mat-form-field>
      </div>
      <div class="example-button-row">
        <button mat-button (click)="form.reset()">Reset</button>
        <button mat-button mat-flat-button [disabled]="form.invalid">Save</button>
      </div>
    </div>
    <div class="flex-1 p-2">
      <p>The value of the form:</p>
      <pre class="flex-1 m-0">
        <code [highlight]="form.value | json" language="typescript" lineNumbers [singleLine]="true"></code>
      </pre>
    </div>
  </div>

  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="HTML">
      <pre class="m-0">
        <code [highlight]="htmlCode" language="xml" lineNumbers [singleLine]="true"></code>
      </pre>
    </mat-tab>
    <mat-tab label="TS">
      <pre class="m-0">
        <code [highlight]="tsCode" language="typescript" lineNumbers [singleLine]="true"></code>
      </pre>
    </mat-tab>
    <mat-tab label="property-selector.component.ts">
      <pre class="m-0">
        <code [highlight]="componentCode" language="typescript" lineNumbers [singleLine]="true"></code>
      </pre>
    </mat-tab>
  </mat-tab-group>
</div>
