<div class="m-h-6 p-6">

  <mat-stepper orientation="vertical" #stepper class="stepperTop" (selectionChange)="onStepperSelectionChange($event)">
    <mat-step [stepControl]="f1">
      <div>
        <ng-template matStepLabel>Form Builder Academy: Table of contents</ng-template>
        <ng-template matStepContent>
          <div class="m-t-1">
            <h2>Welcome to the Form Builder Academy!</h2>
            <p>In this course, we will cover:</p>
            <ol start="2">
              <li><button mat-button (click)="goToStep(stepper, 1)">How to create a form with Form Builder</button></li>
              <li><button mat-button (click)="goToStep(stepper, 2)">Use nonNullable types and correctly manage form reset</button></li>
              <li><button mat-button (click)="goToStep(stepper, 3)">How to initialize a form asynchronously</button></li>
              <li><button mat-button (click)="goToStep(stepper, 4)">Form with dynamic components</button></li>
              <li>Form with custom components</li>
              <li>Validations: synchronous, asynchronous, group, and form validations</li>
              <li>Validations: displaying error messages</li>
              <li>Validations: how to handle warnings?</li>
              <li>How to test a component with reactive forms</li>
            </ol>
          </div>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </ng-template>
      </div>
    </mat-step>
    <mat-step [stepControl]="f1" data-step="1">
      <ng-template matStepLabel matStepperIcon="phone">How to create a form with Form Builder</ng-template>
      <ng-template matStepContent>
        <app-form-builder-intro></app-form-builder-intro>
        <div>
          <button mat-button (click)="goToStep(stepper, 0)">TOC</button>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </ng-template>
    </mat-step>
    <mat-step [stepControl]="f1" data-step="2">
      <ng-template matStepLabel>Compose a form with groups and correctly handle types (nonNullable, reset)</ng-template>
      <ng-template matStepContent>
        <app-non-nullable-controls></app-non-nullable-controls>
        <div>
          <button mat-button (click)="goToStep(stepper, 0)">TOC</button>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </ng-template>
    </mat-step>
    <mat-step [stepControl]="f1" data-step="3">
      <ng-template matStepLabel>How to initialize a form asynchronously</ng-template>
      <ng-template matStepContent>
        <app-async-initialization></app-async-initialization>
        <div>
          <button mat-button (click)="goToStep(stepper, 0)">TOC</button>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </ng-template>
    </mat-step>
    <mat-step [stepControl]="f1" data-step="4">
      <ng-template matStepLabel>Form with dynamic components</ng-template>
      <ng-template matStepContent>
        <app-dynamic-component></app-dynamic-component>
        <div>
          <button mat-button (click)="goToStep(stepper, 0)">TOC</button>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </ng-template>
    </mat-step>
    <mat-step [stepControl]="f1" data-step="finish">
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
